<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="test.css">
</head>
<body>
    <div class="wrap">
            <div class="header">
                <div class="image"><img src="image.jpeg" alt="" width="30px" height="30px"></div>
                <div class="number">0791959876</div>
            </div>
            <div class="messages">
                <div class="message1">message1</div>
                <div class="message2">message2</div>
                <div class="message1">message1</div>
                <div class="message2">message2</div>
                <div class="message1">message1</div>
                <div class="message2">message2</div>
                <div class="message1">message1</div>
                <div class="message2">message2</div>
                <div class="message1">message1</div>
                <div class="message2">message2</div>
                <div class="message1">message1</div>

            </div>
    </div>
</body>
</html>