.container{
    height: 80vh;
    border: 2px solid black;
    margin-left: 73%;
    width: 25vw;
    overflow: scroll;
    border-radius: 10px;
    /* visibility: hidden; */
    /* display: none; */
}
.container-header{
    position: fixed;
    text-align: center;
    background-color: aqua;
    padding-top: 15px;
    height: 42px;
    width: 25vw;
    overflow: hidden;
    /* padding-bottom: 10px; */
}
.text-header{
    padding-top: 10px;
}
a{
    text-decoration: none;
    color: black;
}
.chat{
    margin-top: 8%;
    padding-left: 9%;
    margin-bottom: 2%;
}
/* .chat:hover{
    background-color: whitesmoke;
    cursor: pointer;
} */
#chat1{
    margin-top: 4%;
}
button{
    float: right;
    position: absolute;
    top: 83%;
    left: 95%;
}

/* Individual message styling */

.wrap{
    margin-left: 20%;
}
img{
  border-radius: 20px;
 
}
img:hover{
    cursor: pointer;
}
.image{
    padding-left: 5%;
    padding-top: 2%;

}
.header{
    display: flex;
    /* margin-left: 1%; */
    background-color: green;
    width: 26vw;
    margin-bottom: 1%;
    border-radius: 10px;
}
.number{
    padding-left: 5%;
    padding-top: 3%;
    color: whitesmoke;

}
.number:hover{
    color:  black;
    cursor: pointer;
}
.messages{
    overflow: scroll;
    width: 26vw;
    height: 80vh;
}
.message1{
    /* width: 20vw; */
    height: 8vh;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(243, 243, 243, 0.849);
}
.message1:hover{
background-color: whitesmoke;
}
.message2{
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10px;
    height: 8vh;
    border: 2px solid black;
    margin-left: 50%;
}
.message2:hover{
    background-color: whitesmoke;
    }