<div id="whatsapp-chat" className="show">
    <div className="header-chat">
        <div className="get-new show">
            <div id="get-label">Support</div>
            <div id="get-nama">Customer Service 1</div>
        </div>
    </div>
    <div className="start-chat show">
        <div className="first-msg">
            <span>Hello! What can I do for you?</span>
        </div>
        <div className="blanter-msg">
            <textarea id="chat-input" placeholder="Write a response" maxlength="120" row="1"></textarea>
            <a href="javascript:void;" id="send-it">Send</a>
        </div>
    </div>
    <div id="get-number">6281977094280</div>
    <a className="close-chat" href="javascript:void">×</a>
</div>