{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Medicare Adminstraion</title>
  <link rel="stylesheet" href="{% static 'css/admin/login.css' %}">
</head>
<body style="background: linear-gradient(135deg, #71b7e6, #9b59b6)">
  <div class="mdc-content-container">
    <div class="mdc-container">
      <div class="mdc-title-container">
          <span>Medicare Adminstration</span>
      </div>
      <hr>
      <div class="mdc-title">Login</div>
      
      {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
      <p class="mdc-text-danger">
          {{ error }}
      </p>
      {% endfor %}
      {% endif %}
      <div class="mdc-content">
        <form method="post">
          {% csrf_token %}
          <div class="mdc-user-details">
            <div class="mdc-input-box">
              <span class="mdc-details">Email</span>
              <input type="text" name="username" placeholder="Enter your email" required>
              <div class="mdc-text-danger">{{form.errors.username}}</div>
            </div>
          
            <div class="mdc-input-box">
              <span class="mdc-details">Password</span>
              <input type="password" name="password" placeholder="Enter your password" required>
              <div class="mdc-text-danger">{{form.errors.password}}</div>
            </div>
          </div>
          <div class="mdc-button">
            <input type="submit" value="Login">
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>