{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "admin/css/changelists.css" %}">
  {% if cl.formset %}
    <link rel="stylesheet" href="{% static "admin/css/forms.css" %}">
  {% endif %}
  {% if cl.formset or action_form %}
    <script src="{% url 'admin:jsi18n' %}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
<script src="{% static 'admin/js/filters.js' %}" defer></script>
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-list{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:user_appointment_changelist' %}">Appointment</a>
&rsaquo; Make Diagnosis
</div>
{% endblock %}
{% endif %}

{% block coltype %}{% endblock %}

{% block content %}
<div id="content-main">
    <div style="display: flex;flex-direction: column;background: white;padding: 1rem">
    <h2>{% translate 'Recent actions' %}</h2>
    <h3>{% translate 'My actions' %}</h3>
        {% load log %}
        {% get_admin_log 10 as admin_log%}
        {% if not admin_log %}
        <p>{% translate 'None available' %}</p>
        {% else %}
        <ul class="actionlist">
        {% for entry in admin_log %}
        <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
            {% if entry.is_deletion or not entry.get_admin_url %}
                {{ entry.object_repr }}
            {% else %}
                <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}llllll</a>
                <script>
                    console.log("{{entry.user.firstName}}")
                </script>
            {% endif %}
            <br>
            {% if entry.content_type %}
                <span class="mini quiet">{% filter capfirst %}{{ entry.content_type.name }}{% endfilter %}</span>
            {% else %}
                <span class="mini quiet">{% translate 'Unknown content' %}</span>
            {% endif %}
        </li>
        {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}