{% extends 'admin/base_site.html' %}
{% load i18n admin_urls static admin_modify %}
{% block content %}
    <div style="display: flex;flex-direction: row;">
        <img style="margin-right: 5em;" width="400" src="{{object.image.url}}" alt="">
        <div style="display: flex;flex-direction: column;">
            <div>
                <h3>NAME</h3>
                <p style="margin-left: 1em;">
                    {{object.firstName}} {{object.lastName}}
                </p>
            </div>

            <div>
                <h3>GENDER</h3>
                <p style="margin-left: 1em;">
                    {{object.gender}}
                </p>
            </div>

            <div>
                <h3>DATE OF BIRTH</h3>
                <p style="margin-left: 1em;">
                    {{object.dateOfBirth}}
                </p>
            </div>

            <div>
                <h3>EMAIL</h3>
                <p style="margin-left: 1em;">
                    {{object.email}}
                </p>
            </div>

            <div>
                <h3>PHONE NUMBER</h3>
                <p style="margin-left: 1em;">
                    {{object.phoneNumber}}
                </p>
            </div>

            <div>
                <h3>LOCATION</h3>
                <p style="margin-left: 1em;">
                    {{object.location.subcounty_name}}, {{object.location.county}}
                </p>
            </div>
        </div>
    </div>
{% endblock %}