{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_preload_css %}
		{% tailwind_css %}
	</head>

	<body class="bg-gradient-to-r from-violet-800 to-sky-600 font-sans leading-normal tracking-normal text-white">
		<div class="px-2 flex flex-row shadow-xl min-w-max">
			<div class="basis-1/5">
				{% if user.is_authenticated%}
					<img src="{{user.image.url}}" width="60" alt="" class="rounded-full">
				{% endif %}
			</div>

			<div class="py-3 basis-3/5 flex flex-row justify-center">
				<a href="{% url 'home' %}">
					<button class="bg-transparent border-none">Home</button>
				</a>
			</div>

			<div class="py-3 basis-1/5">

			</div>
		</div>
		<div class="py-5 px-3">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>
